.background {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    padding: 0 1.5rem;

    .title {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .blue-line {
        width: 5rem;
        height: 0;
        border: 3px solid #29ABE2;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: min(100%, 375px);

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            .tile {
                transition: all 125ms ease-in-out;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                height: 5rem;
                background: #FFFFFF;
                border-radius: 20px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                padding: 1rem;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    background: #2A3647;
                    color: #FFFFFF;
                }

                &:hover .image-todo {
                    background-image: url(/../assets/img/summary/todo_icon_white.svg);
                }

                &:hover .image-done {
                    background-image: url(/../assets/img/summary/done_icon_white.svg);
                }
            }

            span {
                font-size: 0.75rem;
                text-align: center;
            }

            .twoliner {
                width: 52px;
                height: 31px;
            }

            .big-number {
                font-size: 1.5rem;
                font-weight: 700;
            }

            .flexrow {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            .flexcolumn {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .bold {
                font-weight: 700;
            }

            .grey-line {
                width: 0;
                height: 3rem;
                border: 1px solid #D1D1D1;
                border-radius: 10px;
            }

            .even {
                justify-content: space-around;
            }

            .gap {
                gap: 1rem;
            }

            .image-todo {
                width: 40px;
                height: 40px;
                background-image: url(/../assets/img/summary/todo_icon.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            .image-done {
                width: 40px;
                height: 40px;
                background-image: url(/../assets/img/summary/done_icon.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

            .small {
                width: 25%;
            }

            .big {
                flex-direction: row;
                width: 100%;
            }

            .medium {
                width: 43%;
            }
        }
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    margin: 0 auto;
    z-index: 5;
    opacity: 1;

    h2 {
        font-size: 2rem;
        font-weight: 400;
        color: #2A3647;
        margin: 0.5rem;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #29ABE2;
        margin: 1rem;
    }
}