header {
    position: relative;
    width: calc(100% + 4rem);
    left: -2rem;
    height: 4rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

    .logo {
        position: absolute;
        left: 2rem;
        background-image: url(/../assets/img/login/logo_black.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }

    .profile {
        position: absolute;
        right: 2rem;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 2px solid #2A3647;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 38px;
            height: 38px;
            border-radius: 50px;
        }
    }
}

.container {
    transition: all 225ms ease-in-out;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;
    background: #2A3647;
    position: absolute;
    right: 0;
    top: 4rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
    transform: translateX(100vw);

    .option {
        transition: all 225ms ease-in-out;
        color: #CDCDCD;
        font-size: 1rem;
        height: 30px;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            transition: all 225ms ease-in-out;
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
}

.open {
    transition: all 225ms ease-in-out;
    transform: translateX(0);
}