<div class="background">

    <app-header></app-header>

    <div class="title">
        <div class="row">
            <h2 *ngIf="type === 'new'">Add new contact</h2>
            <h2 *ngIf="type === 'edit'">Edit contact</h2>
            <img src="/../assets/img/arrow_icon.svg" alt="arrow_icon" routerLink="/contacts">
        </div>
        <span>Better with a team!</span>
        <div class="blue-line"></div>
    </div>

    <div>
        <form [formGroup]="contactForm">
            <img src="/../assets/img/contacts/default_profile.svg" alt="default profile picture">

            <input type="text" placeholder="Enter name and surname" formControlName="name">

            <input type="text" placeholder="Enter an email" formControlName="email">

            <input type="text" placeholder="Enter a phone number" formControlName="phone">

            <button *ngIf="type === 'new'" (click)="createUser()">Create contact</button>
            <button *ngIf="type === 'edit'">Confirm changes</button>

        </form>
    </div>




    <app-footer></app-footer>

</div>