.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /** Becomes sticky when scrolling down */
    .title {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: min(100%, 350px);
        overflow-y: hidden;
        background: #FFFFFF;
        z-index: 2;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .create-btn {
            height: 40px;
            cursor: pointer;
        }
    }

    .blue-line {
        width: 5rem;
        height: 0;
        border: 3px solid #29ABE2;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            width: 100%;
            max-width: 100px;
            height: auto;
            border-radius: 10px;
        }

        input {
            box-sizing: border-box;
            border-radius: 10px;
            background: #FFFFFF;
            padding: 11px 21px;
            border: 1px solid #D1D1D1;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;

            &::placeholder {
                font-size: 1rem;
                color: #9d9d9d;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            border-radius: 10px;
            background: #2A3647;
            padding: 11px 21px;
            border: none;
            font-size: 1rem;
            width: fit-content;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                background: #29ABE2;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

img {
    cursor: pointer;
}


@media screen and (min-width: 768px) {

    form {
        width: min(100%, 450px);
    }

    .background {
        left: 12rem;
        width: calc(100% - 12rem);
    }
}