<footer>
    <div class="row">
        <div class="column">
            <div class="image summary" routerLink="/summary"></div>
            <span>Summary</span>
        </div>
        <div class="column">
            <div class="image board" routerLink="/board"></div>
            <span>Board</span>
        </div>
        <div class="column">
            <div class="image addtask" routerLink="/addtask"></div>
            <span>Add Task</span>
        </div>
        <div class="column">
            <div class="image contacts" routerLink="/contacts"></div>
            <span>Contacts</span>
        </div>
    </div>
</footer>