footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 6rem;
    background: #2A3647;
    z-index: 100;

    .row {
        padding: 0 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .column {
        transition: all 225ms ease-in-out;
        height: 100%;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            transition: all 225ms ease-in-out;
            background: #091931;
        }

        &:hover .summary {
            background-image: url(/../assets/img/summary/summary_icon_white.svg);
        }

        &:hover .board {
            background-image: url(/../assets/img/summary/board_icon_white.svg);
        }

        &:hover .addtask {
            background-image: url(/../assets/img/summary/addtask_icon_white.svg);
        }

        &:hover .contacts {
            background-image: url(/../assets/img/summary/contacts_icon_white.svg);
        }
    }

    .image {
        width: 40px;
        height: 40px;
    }

    .summary {
        background-image: url(/../assets/img/summary/summary_icon_grey.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .board {
        background-image: url(/../assets/img/summary/board_icon_grey.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .addtask {
        background-image: url(/../assets/img/summary/addtask_icon_grey.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .contacts {
        background-image: url(/../assets/img/summary/contacts_icon_grey.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    span {
        color: #cdcdcd;
        font-size: 0.75rem;
        font-weight: 400;
    }
}