<div class="background">

    <app-header></app-header>

    <div class="title">
        <div class="row">
            <h2>Contacts</h2>
            <img class="create-btn" src="/../JoinAngular/assets/img/contacts/newcontact_btn.svg" alt="add icon dark" [routerLink]="['/contact-add/', 'new']">
        </div>
    </div>

    <div class="container">

        <div *ngFor="let letter of firstLetters">
            <div class="letter">
                <span>{{ letter }}</span>
            </div>
            <div class="grey-line"></div>

            <div *ngFor="let user of users">
                <div class="contact" [routerLink]="['/contact-form/', user.userId]" *ngIf="returnFirstLetter(user.firstName) === letter">
                    <div class="circle" [style]="'background: ' + user.color">{{ returnFirstLetter(user.firstName + ' ' + user.lastName) }}</div>
                    <div class="details">
                        <span class="name">{{ user.firstName + ' ' + user.lastName }}</span>
                        <span class="email">{{ user.email }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <app-footer></app-footer>

</div>