.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /** Becomes sticky when scrolling down */
    .title {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: min(100%, 350px);
        overflow-y: hidden;
        background: #FFFFFF;
        z-index: 2;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .create-btn {
            height: 40px;
            cursor: pointer;
        }
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(100%, 350px);
    height: fit-content;
    padding-bottom: 7rem;
    /** This makes it scrolling **/

    .letter {
        display: flex;
        height: 3rem;
        align-items: center;
        margin-left: 1rem;
    }

    .grey-line {
        display: flex;
        width: 99%;
        height: 0px;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
    }

    .contact {
        transition: all 125ms ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3rem;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
            transition: all 125ms ease-in-out;
            background: #2A3647;
            border-radius: 10px;
            color: #FFFFFF;
        }

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 2px solid #FFFFFF;
            margin-right: 1rem;
            color: #FFFFFF;
        }

        .details {
            display: flex;
            flex-direction: column;

            .name {
                font-size: 1rem;
                font-weight: 500;
            }

            .email {
                font-size: 0.75rem;
                color: #007CEE;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.blue {
    background: #007CEE;
}

.green {
    background: #00B74A;
}

.red {
    background: #FF0000;
}

.pink {
    background: #FF00FF;
}

.background::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 768px) {

    .background {
        left: 12rem;
        width: calc(100% - 12rem);
    }
}