<footer>
    <div class="row">
        <div class="column" routerLink="/summary">
            <div class="image summary"></div>
            <span>Summary</span>
        </div>
        <div class="column" routerLink="/board">
            <div class="image board"></div>
            <span>Board</span>
        </div>
        <div class="column" routerLink="/addtask">
            <div class="image addtask"></div>
            <span>Add Task</span>
        </div>
        <div class="column"routerLink="/contacts">
            <div class="image contacts"></div>
            <span>Contacts</span>
        </div>
    </div>
</footer>