<div class="background">

    <app-header></app-header>

    <div class="title">
        <span>Kanban Project Management Tool</span>
        <div class="row">
            <h2>Contacts</h2>
            <img src="/../assets/img/arrow_icon.svg" alt="arrow_icon" routerLink="/contacts">
        </div>
        <span>Better with a team!</span>
        <div class="blue-line"></div>
    </div>

    <div class="container">
        <div class="row-short">
            <div class="circle">AM</div>
            <div>
                <span>Andrei Munteanu</span>
                <div class="row">
                    <img src="" alt="add_icon">
                    <span>Add Task</span>
                </div>
            </div>
        </div>
        <span>Contact Information</span>
        <span>Email</span>
        <span>munteanu@mail.com</span>
        <span>Phone</span>
        <span>0745 123 456</span>
    </div>

    <div class="btn-container">
        <img src="" alt="delete_icon">
        <img src="" alt="edit_icon">
    </div>

    <app-footer></app-footer>

</div>