<header>
    <div class="logo"></div>
    <div class="profile" (click)="setMenuVisibility()">
        <img src="/../assets/img/summary/profile.png" alt="profile picture">  
    </div>
</header>

<div class="container" [class.bigger]="afAuth.authState | async" [class.open]="menuVisibility">
    <span *ngIf="afAuth.authState | async as user" class="login">Logged in as {{ user.email }}</span>
    <div class="option" routerLink="/helpinfo" (click)="setMenuVisibility()">Help</div>
    <div class="option" routerLink="/legal" (click)="setMenuVisibility()">Legal notice</div>
    <div class="option" routerLink="" (click)="setMenuVisibility(); afAuth.signOut()">Log out</div>
</div>