<header>
    <div class="logo"></div>
    <div class="profile" (click)="setMenuVisibility()">
        <img src="/../assets/img/summary/profile.png" alt="profile_picture">  
    </div>
</header>

<div class="container" [class.open]="menuVisibility">
    <div class="option" routerLink="/helpinfo" (click)="setMenuVisibility()">Help</div>
    <div class="option" routerLink="/legal" (click)="setMenuVisibility()">Legal notice</div>
    <div class="option" routerLink="" (click)="setMenuVisibility()">Log out</div>
</div>