<div class="background">

    <app-header></app-header>

    <div class="title">
        <div class="row">
            <h2>Contacts</h2>
            <img class="create-btn" src="/../assets/img/contacts/newcontact_btn.svg" alt="add_icon_dark">
        </div>
    </div>

    <div class="container">
        <div class="letter">
            <span>A</span>
        </div>
        <div class="grey-line"></div>

        <div class="contact">
            <div class="circle red">AB</div>
            <div class="details">
                <span class="name">Amanda Bynes</span>
                <span class="email">bynes@mail.com</span>
            </div>
        </div>

        <div class="contact">
            <div class="circle blue">AZ</div>
            <div class="details">
                <span class="name">Almond Zafiri</span>
                <span class="email">almond@gmx.de</span>
            </div>
        </div>

        <div class="letter">
            <span>B</span>
        </div>
        <div class="grey-line"></div>

        <div class="contact">
            <div class="circle green">BB</div>
            <div class="details">
                <span class="name">Berta Bynes</span>
                <span class="email">bynes2@mail.com</span>
            </div>
        </div>

        <div class="contact">
            <div class="circle pink">BD</div>
            <div class="details">
                <span class="name">Bartholomeos Defrakis</span>
                <span class="email">defrakis@gmx.ro</span>
            </div>
        </div>

        <div class="letter">
            <span>D</span>
        </div>
        <div class="grey-line"></div>

        <div class="contact">
            <div class="circle red">DA</div>
            <div class="details">
                <span class="name">Dandeloin Fourrier</span>
                <span class="email">fourrier@mail.fr</span>
            </div>
        </div>

        <div class="contact">
            <div class="circle blue">DK</div>
            <div class="details">
                <span class="name">Detlef Müller</span>
                <span class="email">derdetlef@t-online.de</span>
            </div>
        </div>

    </div>


    <app-footer></app-footer>

</div>