.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .title {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: min(100%, 350px);

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .blue-line {
        width: 5rem;
        height: 0;
        border: 3px solid #29ABE2;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: min(100%, 350px);
    margin-top: 1rem;
    gap: 1rem;

    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: #29ABE2;
        color: #FFFFFF;
        font-size: 2rem;
        border: 3px solid #FFFFFF;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.row-short {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.btn-container {
    position: absolute;
    bottom: 6.6rem;
    width: min(100%, 350px);
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
    max-width: 200px;

    img {
        height: 1.5rem;
        width: 7rem;
    }
}

img {
    cursor: pointer;
}

.large {
    display: flex;
    word-break: break-all;
    font-size: 1.25rem;
}

.big {
    font-size: 1.25rem;
    font-weight: 700;
}

.fat {
    font-weight: 700;
}

@media screen and (min-width: 768px) {

    .background {
        left: 12rem;
        width: calc(100% - 12rem);
    }
}