<div class="background">

    <app-header></app-header>

    <div class="title">
        <div class="row">
            <h2>Contacts</h2>
            <img src="/../assets/img/arrow_icon.svg" alt="arrow_icon" routerLink="/contacts">
        </div>
        <span>Better with a team!</span>
        <div class="blue-line"></div>
    </div>

    <div class="container">
        <div class="row-short">
            <div class="circle" [style]="'background: ' + displayedUser.color">{{ returnFirstLetter(displayedUser.firstName + ' ' + displayedUser.lastName) }}</div>
            <div class="column">
                <div class="large">{{ displayedUser.firstName + ' ' + displayedUser.lastName }}</div>
                <img src="/../assets/img/contacts/addtask_icon.svg" alt="add_icon">
            </div>
        </div>

        <span class="big">Contact Information</span>
        <span class="fat">Email</span>
        <span>{{ displayedUser.email }}</span>
        <span class="fat">Phone</span>
        <span>{{ displayedUser.phone }}</span>
    </div>

    <div class="btn-container">
        <img src="/../assets/img/contacts/delete_icon.svg" alt="delete_icon">
        <img src="/../assets/img/contacts/edit_icon.svg" alt="edit_icon">
    </div>

    <app-footer></app-footer>

</div>