@import 'src/styles.scss';

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000000, $alpha: .4);
    z-index: 5;

    .card {
        box-sizing: border-box;
        padding: 1rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
        border-radius: 30px;
        height: 90vh;
        overflow-y: scroll;
        width: 375px;
        z-index: 6;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .arrow {
            cursor: pointer;
            margin-bottom: 2rem;
        }

        .card-category {
            border-radius: 10px;
            padding: 0.5rem 1rem;
            color: #FFFFFF;
            font-weight: 500;
            width: fit-content;
        }

        .card-title {
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            font-weight: 700;
            max-width: 300px;
            color: $primary-color;
        }

        .headline {
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        p {
            color: #A8A8A8;
            max-width: 300px;
        }

        .duedate {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .subtask-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-bottom: 1rem;
        }

        .subtask {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }

        .overlap {
            z-index: 2;
            left: -1rem;
        }

        .overlap2 {
            z-index: 3;
            left: -2rem;
        }

        .priority {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .card::-webkit-scrollbar {
        display: none;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.btn-group {
    position: fixed;
    right: calc(50vw - 167.5px);
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
}

.btn {
    cursor: pointer;
    width: 40px;
    min-height: 40px;
    background: $primary-color;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit {
    background-image: url("/../../assets/img/board/pencil_white.svg");
}

.delete {
    background-image: url("/../../assets/img/board/delete.png");
    background-size: 32px;
}

.check {
    background-image: url("/../../assets/img/board/check.svg");
}

.red {
    border: 2px solid #FF0000;
}

.cancel {
    position: absolute;
    top: 4rem;
    right: 3rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: $secondary-color;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/../../assets/img/addtask/cancel_icon.svg");
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary {
    background: #FFFFFF;
}

.primary {
    background: $primary-color;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.status-selection {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    background: $primary-color;
    color: #FFFFFF;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    .status {
        cursor: pointer;
        padding: 0.5rem 1rem;

        &:hover {
            background: #D9D9D9;
            color: $primary-color;
        }
    }

    .top {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .bottom {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    .btn-group {
        right: calc(50vw - 167.5px - 6rem) !important;
    }
}