<div class="overlay" (click)="closeOverlay()">

    <div class="card" (click)="stopPropagation($event)" *ngIf="task">

        <!-- Button group -->
        <div class="rowend">
            <img class="arrow" src="../assets/img/arrow_icon.svg" alt="arrow icon" (click)="closeOverlay()">
            <div class="btn delete" (click)="deleteTask(task.id)"></div>
            <div class="btn edit" (click)="editTask(task.id)"></div>
            <div class="btn check" (click)="openStatusSelection()"></div>
            <div *ngIf="toggleStatus">
                <div class="status-selection">
                    <div class="status top" (click)="changeStatus(task, 'todo')">Todo</div>
                    <div class="status" (click)="changeStatus(task, 'progress')">In progress</div>
                    <div class="status" (click)="changeStatus(task, 'feedback')">Awaiting feedback</div>
                    <div class="status bottom" (click)="changeStatus(task, 'done')">Done</div>
                </div>
            </div>
        </div>

        <!-- Task category, title & description -->
        <div *ngIf="task.category" class="card-category" [style]='"background: " + task.category[1]'>{{ task.category[0] }}</div>
        <div class="card-title headline">{{ task.title }}</div>
        <p>{{ task.description }}</p>

        <!-- Task due date -->
        <div class="duedate" *ngIf="task.dueDate">
            <div class="card-title">Due date:</div>
            <span>{{ formatDate(task.dueDate) }}</span>
        </div>

        <!-- Task subtasks -->
        <div class="subtask-container" *ngIf="task.subtasks">
            <div class="card-title">Subtasks:</div>
            <div class="subtask" *ngFor="let subtask of task.subtasks">
                <input type="checkbox" disabled [checked]="subtask.status === 1">
                <div class="subtask-description">{{ subtask.description }}</div>
            </div>
        </div>

        <!-- Task priority -->
        <div class="priority">
            <div class="card-title">Priority:</div>
            <span>{{ task.priority }}</span>
            <img src="/../assets/img/board/prio_low_icon.svg" alt="priority low icon" *ngIf="task.priority === 'low'">
            <img src="/../assets/img/board/prio_medium_icon.svg" alt="priority medium icon" *ngIf="task.priority === 'medium'">
            <img src="/../assets/img/board/prio_high_icon.svg" alt="priority high icon" *ngIf="task.priority === 'high'">
        </div>

        <!-- Task assigned to -->
        <div *ngIf="task.assignedTo">
            <div class="card-title">Assigned to:</div>
            <div class="row" *ngFor="let user of task.assignedTo">
                <div class="circle" [style]="this.returnUserColor(user.color)">{{ this.returnFirstLetter(user.name) }}</div>
                <div class="name">{{ user.name }}</div>
            </div>
        </div>
       
    </div>

</div>
