<section>
    <div class="background">

        <app-header></app-header>

        <div class="title">
            <span>Kanban Project Management Tool</span>
            <h2>Summary</h2>
            <span>Everything in a nutshell!</span>
            <div class="blue-line"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="tile small">

                </div>
                <div class="tile small">

                </div>
                <div class="tile small">

                </div>
            </div>
            <div class="row">
                <div class="tile big">

                </div>
            </div>
            <div class="row">
                <div class="tile medium">

                </div>
                <div class="tile medium">

                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>

    <div class="greeting" #greeting>
        <h2>Welcome abord,</h2>
        <h1>{{username}}</h1>
    </div>
</section>