.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F5F5F5;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /** Becomes sticky when scrolling down */
    .title {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: min(100%, 350px);
        overflow-y: hidden;
        background: #F5F5F5;
        z-index: 2;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}

.scrollable {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: min(100%, 350px);
    margin-top: 1rem;

    .headline {
        display: flex;
        flex-direction: column;
        color: #2A3647;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}