.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.background::-webkit-scrollbar {
    display: none;
}

.hidden {
    z-index: 20;
    display: none;
}


@media screen and (min-width: 768px) {

    .background {
        left: 12rem;
        width: calc(100% - 12rem);
    }
}