
<div class="title">
    <span>Kanban Project Management Tool</span>
    <div class="row">
        <h2>Board</h2>
        <img class="add-primary-btn" routerLink="/addtask" src="/../assets/img/board/add_icon_dark.svg" alt="add icon dark">
    </div>

    <div class="searchfield">
        <input type="text" placeholder="Search">
        <div class="grey-line"></div>
        <img src="/../assets/img/board/search_icon.svg" alt="search icon">
    </div>
</div>

<div class="scrollable">
    
    <div class="container">
        <div class="headline">
            <h3>Todo</h3>
            <img src="/../assets/img/board/add_icon_white.svg" routerLink="/addtask" alt="add icon">
        </div>

        <!-- Todo Template -->
        <div *ngFor="let task of tasks">
            <div class="card" *ngIf="task.status === 'todo'" (click)="showTaskDetails(task.id)">
                <div class="card-category" [style]='"background: " + task.category[1]'>{{ task.category[0] }}</div>
                <div class="card-title">{{ task.title }}</div>
                <p>{{ task.description }}</p>
                <div class="row margin-bottom" *ngIf="task.subtasks.length > 0">
                    <div class="progressbar">
                        <div class="progress" [style]="this.returnProgressWidth(task.subtasks)"></div>
                    </div>
                    <div class="progressbar-text"> {{ this.countDoneSubtasks(task.subtasks) }}/{{ task.subtasks.length }} Done</div>
                </div>
                <div class="row">
                    <div class="row" *ngIf="task.assignedTo.length === 1">
                        <div class="circle" [style]="this.returnUserColor(task.assignedTo[0].color)">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 2">
                        <div class="circle" [style]="this.returnUserColor(task.assignedTo[0].color)">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle overlap" [style]="this.returnUserColor(task.assignedTo[1].color)">{{ this.returnFirstLetter(task.assignedTo[1].name)}}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 3">
                        <div class="circle" [style]="this.returnUserColor(task.assignedTo[0].color)">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle overlap" [style]="this.returnUserColor(task.assignedTo[1].color)">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle overlap2" [style]="this.returnUserColor(task.assignedTo[2].color)">{{ this.returnFirstLetter(task.assignedTo[2].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length > 3">
                        <div class="circle" [style]="this.returnUserColor(task.assignedTo[0].color)">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle overlap" [style]="this.returnUserColor(task.assignedTo[1].color)">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2" [style]="this.returnUserColor(task.assignedTo[2].color)">+{{ task.assignedTo.length }}</div>
                    </div>
                    <img src="/../assets/img/board/prio_low_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'low'">
                    <img src="/../assets/img/board/prio_medium_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'medium'">
                    <img src="/../assets/img/board/prio_high_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'high'">
                </div>
            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="headline">
            <h3>In Progress</h3>
            <img src="/../assets/img/board/add_icon_white.svg" alt="add icon">
        </div>

        <!-- Progress Template -->
        <div *ngFor="let task of tasks">
            <div class="card" *ngIf="task.status === 'progress'" (click)="showTaskDetails(task.id)">
                <div class="card-category" [style]='"background: " + task.category[1]'>{{ task.category[0] }}</div>
                <div class="card-title">{{ task.title }}</div>
                <p>{{ task.description }}</p>
                <div class="row margin-bottom" *ngIf="task.subtasks.length > 0">
                    <div class="progressbar">
                        <div class="progress" [style]="this.returnProgressWidth(task.subtasks)"></div>
                    </div>
                    <div class="progressbar-text"> {{ this.countDoneSubtasks(task.subtasks) }}/{{ task.subtasks.length }} Done</div>
                </div>
                <div class="row">
                    <div class="row" *ngIf="task.assignedTo.length === 1">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 2">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name)}}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">{{ this.returnFirstLetter(task.assignedTo[2].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length > 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">+{{ task.assignedTo.length }}</div>
                    </div>
                    <img src="/../assets/img/board/prio_low_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'low'">
                    <img src="/../assets/img/board/prio_medium_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'medium'">
                    <img src="/../assets/img/board/prio_high_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'high'">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="headline">
            <h3>Awaiting Feedback</h3>
            <img src="/../assets/img/board/add_icon_white.svg" alt="add icon">
        </div>
        <!-- Feedback Template -->
        <div *ngFor="let task of tasks">
            <div class="card" *ngIf="task.status === 'feedback'" (click)="showTaskDetails(task.id)">
                <div class="card-category" [style]='"background: " + task.category[1]'>{{ task.category[0] }}</div>
                <div class="card-title">{{ task.title }}</div>
                <p>{{ task.description }}</p>
                <div class="row margin-bottom" *ngIf="task.subtasks.length > 0">
                    <div class="progressbar">
                        <div class="progress" [style]="this.returnProgressWidth(task.subtasks)"></div>
                    </div>
                    <div class="progressbar-text"> {{ this.countDoneSubtasks(task.subtasks) }}/{{ task.subtasks.length }} Done</div>
                </div>
                <div class="row">
                    <div class="row" *ngIf="task.assignedTo.length === 1">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 2">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name)}}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">{{ this.returnFirstLetter(task.assignedTo[2].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length > 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">+{{ task.assignedTo.length }}</div>
                    </div>
                    <img src="/../assets/img/board/prio_low_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'low'">
                    <img src="/../assets/img/board/prio_medium_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'medium'">
                    <img src="/../assets/img/board/prio_high_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'high'">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="headline">
            <h3>Done</h3>
            <img src="/../assets/img/board/add_icon_white.svg" alt="add icon">
        </div>
        <!-- Done Template -->
        <div *ngFor="let task of tasks">
            <div class="card" *ngIf="task.status === 'done'" (click)="showTaskDetails(task.id)">
                <div class="card-category" [style]='"background: " + task.category[1]'>{{ task.category[0] }}</div>
                <div class="card-title">{{ task.title }}</div>
                <p>{{ task.description }}</p>
                <div class="row margin-bottom" *ngIf="task.subtasks.length > 0">
                    <div class="progressbar">
                        <div class="progress" [style]="this.returnProgressWidth(task.subtasks)"></div>
                    </div>
                    <div class="progressbar-text"> {{ this.countDoneSubtasks(task.subtasks) }}/{{ task.subtasks.length }} Done</div>
                </div>
                <div class="row">
                    <div class="row" *ngIf="task.assignedTo.length === 1">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 2">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name)}}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length === 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">{{ this.returnFirstLetter(task.assignedTo[2].name) }}</div>
                    </div>
                    <div class="row" *ngIf="task.assignedTo.length > 3">
                        <div class="circle pink">{{ this.returnFirstLetter(task.assignedTo[0].name) }}</div>
                        <div class="circle blue overlap">{{ this.returnFirstLetter(task.assignedTo[1].name) }}</div>
                        <div class="circle dark overlap2">+{{ task.assignedTo.length }}</div>
                    </div>
                    <img src="/../assets/img/board/prio_low_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'low'">
                    <img src="/../assets/img/board/prio_medium_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'medium'">
                    <img src="/../assets/img/board/prio_high_icon.svg" alt="priority_low_icon" *ngIf="task.priority === 'high'">
                </div>
            </div>
        </div>
    </div>
</div>