<div class="background">

    <app-header></app-header>

    <div class="title">
        <span>Kanban Project Management Tool</span>
        <div class="row">
            <h2>Add Task</h2>
            <img class="create-btn" src="/../assets/img/addtask/create_btn.svg" alt="add_icon_dark" (click)="createTask()">
        </div>
    </div>

    <div class="scrollable">
        <!-- The Form -->
        <form [formGroup]="taskForm">
            <span>Title</span>
            <input type="text" placeholder="Enter a title" formControlName="title">
            <span>Description</span>
            <textarea cols="30" rows="10" placeholder="Enter a description" formControlName="description"></textarea>
            <span>Prio</span>
            <div class="row">
                <div class="prio-btn" (click)="setPrio('urgent')">Urgent</div>
                <div class="prio-btn" (click)="setPrio('medium')">Medium</div>
                <div class="prio-btn" (click)="setPrio('low')">Low</div>
            </div>
            <span>Due date</span>
            <input type="date" [(ngModel)]="today" name="today" formControlName="dueDate">
            <span>Category</span>
            <div class="dropdown">
                <span>Select task category</span>
            </div>
            <span>Assigned to</span>
            <div class="dropdown">
                <span>Assign contacts to task</span>
            </div>
            <span>Subtasks</span>
            <div class="row">
                <input type="text" placeholder="Add new subtask">
                <img class="add-primary-btn" src="/../assets/img/board/add_icon_dark.svg" alt="add_subtask">
            </div>
        </form>

    </div>

    <app-footer></app-footer>

</div>