.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    background: #2A3647;
    position: absolute;
    right: 0;
    top: 4rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 100;
    transform: translateX(100vw);
}

.open {
    transform: translateX(0);
}