<div class="background">
    <div class="logo"></div>

    <div class="card">
        <h2>Reset your password</h2>
        <div class="blue-line"></div>
        <form>
            <div class="text-wrap">
                <p>Change your accrount password here.</p>
            </div>
    
            <div class="inputfield password">
                <input type="password" placeholder="New password">
            </div>
            <div class="inputfield password">
                <input type="password" placeholder="Confirm password">
            </div>
            
            <button type="submit" class="btn btn-primary" routerLink="">Continue</button>
        </form>
    </div>

</div>