
.title {
    position: sticky;
    top: 0;
    display: flex;
    background: #F6F7F8;
    flex-direction: column;
    padding-top: 1rem;
    width: min(100%, 350px);
    z-index: 4;

    h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .add-primary-btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .searchfield {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid #E0E0E0;
        border-radius: 0.5rem;
        padding: 0 1rem;
        background: #FFFFFF;
        width: 250px;

        input {
            width: 100%;
            height: 2rem;
            border: none;
            font-size: 1rem;
            color: #4F4F4F;

            &:focus {
                outline: none;
            }
        }

        .grey-line {
            width: 0;
            height: 1.5rem;
            border: 1px solid #E0E0E0;
            border-radius: 10px;
        }
    }
}

.scrollable {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: min(100%, 350px);
    margin-top: 1rem;

    .headline {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #2A3647;

        img {
            cursor: pointer;
        }
    }

    .card {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: min(100%, 350px);
        height: fit-content;
        padding: 1rem;
        background: #FFFFFF;
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
        border-radius: 30px;
        cursor: pointer;

        .card-category {
            border-radius: 10px;
            padding: 0.5rem 1rem;
            color: #FFFFFF;
            font-weight: 500;
            width: fit-content;
        }

        .card-title {
            margin-top: 1rem;
            font-weight: 700;
            color: #2A3647;
        }

        p {
            color: #A8A8A8;
        }

        .progressbar {
            width: 80%;
            height: 0.5rem;
            background: #E0E0E0;
            border-radius: 10px;

            .progress {
                height: 100%;
                background: orange;
                border-radius: 10px;
            }
        }

        .progressbar-text {
            font-size: 0.75rem;
            white-space: nowrap;
        }

        .margin-bottom {
            margin-bottom: 1rem;
        }

        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }

        .overlap {
            z-index: 2;
            left: -1rem;
        }

        .overlap2 {
            z-index: 3;
            left: -2rem;
        }
    }
}


.row {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
gap: 0.5rem;
}