<div class="card">
    <h2>Sign up</h2>
    <div class="blue-line"></div>
    <form>
        <div class="inputfield user">
            <input type="text" placeholder="Username">
        </div>
        <div class="inputfield email">
            <input type="text" placeholder="Email">
        </div>
        <div class="inputfield password">
            <input type="password" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>