<div class="background">
    <div class="logo"></div>

    <div class="card">
        <h2>Log in</h2>
        <div class="blue-line"></div>
        <form>
            <div class="inputfield email">
                <input type="text" placeholder="Email">
            </div>
            <div class="inputfield password">
                <input type="password" placeholder="Password">
            </div>

            <div class="wrapper">
                <span routerLink="/forgot-pw">Forgot my password</span>
                <div class="checkbox-container">
                    <input type="checkbox">
                    <label for="remember-me">Remember me</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" routerLink="/summary">Regular Login</button>
            <button class="btn btn-primary" appGoogleSignin>Google Login</button>
            <button type="button" class="btn btn-secondary" routerLink="/summary">Guest Login</button>
        </form>
    </div>

    <div class="signup-container">
        <span>Not a Join user?</span>
        <div class="btn btn-primary" routerLink="/signup">Sign up</div>
    </div>

</div>