.background {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    margin: 0 auto;

    .logo {
        position: absolute;
        left: 3rem;
        top: 5%;
        background-image: url(/../JoinAngular/assets/img/login/logo_black.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    width: min(80%, 400px);
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        padding: 1rem 0;
        margin: 0 0;
        font-size: 2rem;
        color: #000000;
    }

    .blue-line {
        width: 20%;
        height: 0;
        border: 3px solid #29ABE2;
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    form {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        gap: 1rem;

        input {
            background: #FFFFFF;
            border: none;
            width: 80%;
        }

        input:focus {
            outline: none;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
        }

        span {
            color: #29ABE2;
            font-size: 0.8rem;
            cursor: pointer;
        }

        .checkbox-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 0.8rem;
            gap: 0.25rem;

            input {
                cursor: pointer;
            }
            
            label {
                white-space: nowrap;
            }
        }

        .btn {
            width: 8rem;
            height: 2.5rem;
            border-radius: 8px;
            padding: 4px 0;
            border: none;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #2A3647;
            color: #FFFFFF;
        }

        .btn-secondary {
            background-color: #FFFFFF;
            border: 1px solid #2A3647;
        }
    }
}

.inputfield {
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    height: 41px;
    display: flex;
    flex-direction: row;
}

.email {
    background-image: url(/../JoinAngular/assets/img/login/email_icon.svg);
    background-repeat: no-repeat;
    background-position: 90%;
}

.password {
    background-image: url(/../JoinAngular/assets/img/login/password_icon.svg);
    background-repeat: no-repeat;
    background-position: 90%;
}

.signup-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 7.5rem);
}

.btn {
    width: 5rem;
    height: 2.5rem;
    border-radius: 8px;
    padding: 4px 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #2A3647;
    color: #FFFFFF;
}