.background {
    position: absolute;
    box-sizing: border-box;
    overflow-x: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    padding: 0 1.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /** Becomes sticky when scrolling down */
    .title {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        width: min(100%, 350px);
        overflow-y: hidden;
        background: #F6F7F8;
        z-index: 2;

        h2 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .create-btn {
            height: 40px;
            cursor: pointer;
        }
    }

    .scrollable {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding-bottom: 7rem;
    }

    form {
        display: flex;
        flex-direction: column;
        width: min(100%, 350px);

        .margin {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        input {
            box-sizing: border-box;
            border-radius: 10px;
            background: #FFFFFF;
            padding: 11px 21px;
            border: 1px solid #D1D1D1;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            &::placeholder {
                font-size: 1rem;
                color: #9d9d9d;
            }

            &:focus {
                outline: none;
            }
        }

        textarea {
            box-sizing: border-box;
            border-radius: 10px;
            background: #FFFFFF;
            padding: 11px 21px;
            border: 1px solid #D1D1D1;
            height: 100px;
            resize: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            &::placeholder {
                font-size: 1rem;
                color: #9d9d9d;
            }

            &:focus {
                outline: none;
            }
        }

        .prio-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            height: 40px;
            padding: 0 1rem;
            border-radius: 10px;
            border: 1px solid #E0E0E0;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
            background: #FFFFFF;
            cursor: pointer;
        }

        .urgent-selected {
            border: 1px solid #FF3D00;
            background: #FF3D00;
            color: #FFFFFF;
        }

        .medium-selected {
            border: 1px solid #FFA800;
            background: #FFA800;
            color: #FFFFFF;
        }

        .low-selected {
            border: 1px solid #7AE229;
            background: #7AE229;
            color: #FFFFFF;
        }

        .dropdown {
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 10px;
            background: #FFFFFF;
            padding: 11px 21px;
            border: 1px solid #D1D1D1;
            font-size: 1rem;
            height: 44px;

            span {
                display: inline-block;
                width: 100%;
            }
        }

        .expanded {
            height: 88px;
            overflow: scroll;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.selection {
    height: 2rem;
    width: 100%;
}

.subtask-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
    margin-top: 0.5rem;

    &:hover {
        overflow: visible;
        white-space: pre-wrap;

        button {
            display: flex;
        }
    }

    button {
        display: none;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 8px;
        border: none;

        img {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background: orange;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.background::-webkit-scrollbar {
    display: none;
}

.add-primary-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.small-input {
    width: 180px;
}

.circle {
    box-sizing: border-box;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.color-selector {
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.assigned-users {
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .big-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        border: 2px solid white;
    }
}