<div class="background">

    <app-header></app-header>
    <app-menu></app-menu>

    <div class="title">
        <span>Kanban Project Management Tool</span>
        <h2>Board</h2>
        <div class="searchfield">
            <input type="text">
            <div class="grey-line"></div>
            <img src="/../assets/img/board/search_icon.svg" alt="search_icon">
        </div>
    </div>

    <div class="container">
        <div class="headline">
            <h3>Todo</h3>
            <img src="/../assets/img/board/add_icon_white.svg" alt="add_icon">
        </div>
        <div class="card">

        </div>
    </div>


    <app-footer></app-footer>

</div>