<div class="background">

    <app-header></app-header>
    <app-menu></app-menu>

    <div class="title">
        <span>Kanban Project Management Tool</span>
        <div class="row">
            <h2>Board</h2>
            <img class="add-primary-btn" src="/../assets/img/board/add_icon_dark.svg" alt="add_icon_dark">
        </div>

        <div class="searchfield">
            <input type="text" placeholder="Search">
            <div class="grey-line"></div>
            <img src="/../assets/img/board/search_icon.svg" alt="search_icon">
        </div>
    </div>

    <div class="container">
        <div class="headline">
            <h3>Todo</h3>
            <img src="/../assets/img/board/add_icon_white.svg" alt="add_icon">
        </div>
        <div class="card">
            <div class="card-category">Sales</div>
            <div class="card-title">Website redesign</div>
            <p>Modify the contents of the main website. Adjust the UI to the company's brand design.</p>
            <div class="row margin-bottom">
                <div class="progressbar">
                    <div class="progress"></div>
                </div>
                <div class="progressbar-text">1/2 Done</div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="circle pink">AS</div>
                    <div class="circle blue overlap">DE</div>
                    <div class="circle dark overlap2">+2</div>
                </div>
                <img src="/../assets/img/board/priority_low_icon.svg" alt="priority_low_icon">
            </div>
        </div>
    </div>


    <app-footer></app-footer>

</div>