.background {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #F6F7F8;
    margin: 0 auto;

    .logo {
        position: absolute;
        left: 3rem;
        top: 5%;
        background-image: url(/../assets/img/login/logo_black.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    width: min(80%, 400px);
    height: fit-content;
    border-radius: 30px;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        padding: 1rem 0;
        margin: 1rem 0;
        font-size: 2rem;
        color: #000000;
    }

    .blue-line {
        width: 20%;
        height: 0;
        border: 3px solid #29ABE2;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    form {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        input {
            background: #FFFFFF;
            border: none;
            width: 80%;
        }

        input:focus {
            outline: none;
        }

        .btn {
            width: 8rem;
            height: 2.5rem;
            border-radius: 8px;
            padding: 4px 0;
            border: none;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #2A3647;
            color: #FFFFFF;
        }
    }
}

.error {
    position: relative;
    align-self: flex-start;
    top: -1.75rem;
    font-size: 0.8rem;
    color: red;
    height: 0;
}

.inputfield {
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    height: 41px;
    display: flex;
    flex-direction: row;
}

.user {
    background-image: url(/../assets/img/login/user_icon.svg);
    background-repeat: no-repeat;
    background-position: 90%;
}

.email {
    background-image: url(/../assets/img/login/email_icon.svg);
    background-repeat: no-repeat;
    background-position: 90%;
}

.password {
    background-image: url(/../assets/img/login/password_icon.svg);
    background-repeat: no-repeat;
    background-position: 90%;
}