<div class="background">

    <app-header></app-header>

    <div class="title">
        <span>Kanban Project Management Tool</span>
        <div class="row">
            <h2>Legal Notice</h2>
            <img class="arrow" src="/../assets/img/arrow_icon.svg" alt="arrow_icon" routerLink="/board">
        </div>
    </div>

    <div class="scrollable">
        <div class="container">
            <div class="headline">
                <h3>Subtitle</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam adipisci quisquam, eaque tempore eos
                    obcaecati est! Inventore, alias consequuntur, voluptate at sunt optio vitae quos commodi aspernatur,
                    deleniti pariatur corrupti.</p>
            </div>

            <div class="headline">
                <h3>Subtitle</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam adipisci quisquam, eaque tempore eos
                    obcaecati est! Inventore, alias consequuntur, voluptate at sunt optio vitae quos commodi aspernatur,
                    deleniti pariatur corrupti.</p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>